/* CSS to style sections */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #ff87f5; /* pink background */
    color: white; /* white text color */
    height: 170px; /* change size of box 8 */
    align-items: center; /* vertical alignment */
    padding-top: 20px; /* position text veritcally */
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
}

/* ================== About me Page ==================== */
.about_me_background {
    margin: 0; /* removes default white space */
    padding: 0;

    background-image: url('/images/background.jpg'); /* use an image file, not a PDF */
    background-size: contain;       /* make it fill the whole page (cover) */
    background-repeat: no-repeat; /* prevent tiling */
    background-position: center;  /* center the image */
    background-attachment: scroll;

    background-color: black;
    background-repeat: no-repeat;

    min-height: 100vh;
}

.about_me_header {
    text-align: center;
    color: rgb(255, 101, 214);
    text-decoration: bold;
}

#drawArea {
    border: 4px solid #333;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}

.draw_area h1 {
    text-align: center;
    color: rgb(255, 139, 211);
}

/* ======================== RESEARCH PAGE ========================= */
.dbrp_paper {
    text-align: center; 
    align-items: center;
}
/* ======================= NAV BAR ====================== */
/* Navigation Bar */
/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #de3ed0; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #9d22a1; /* Grey background color */
    color: rgb(181, 181, 181); /* Black text color */
}

/* ====== Customize Layout (2-column = side content - main content) */
/* Ensure proper sizing */
* {
    box-sizing: border-box;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}

/* Main column */
.main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}

/* Media changes with different screens */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}